<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- appenders -->
    <timestamp key="bySecond" datePattern="dd.MM.yyyy HH_mm"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- loggers  -->
    <logger name="saarland.cispa.se.tribble" level="DEBUG"/>

    <!-- root -->
    <root level="WARNING">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
